<?xml version="1.0"?>
<launch>

  <node name="uav_commander" pkg="uav_commander" type="position_controller" ns="ground_truth_to_tf" output="screen">
    <rosparam command="load" file="$(find uav_commander)/config/params.yaml" />
  </node>



  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</launch>
